apiVersion: v1
kind: Pod
metadata:
  annotations:
    openshift.io/scc: privileged
  creationTimestamp: "2023-03-08T11:52:13Z"
  generateName: machine-config-daemon-
  labels:
    controller-revision-hash: 78986f5dc8
    k8s-app: machine-config-daemon
    pod-template-generation: "1"
  managedFields:
  - apiVersion: v1
    fieldsType: FieldsV1
    fieldsV1:
      f:metadata:
        f:annotations:
          .: {}
          f:target.workload.openshift.io/management: {}
        f:generateName: {}
        f:labels:
          .: {}
          f:controller-revision-hash: {}
          f:k8s-app: {}
          f:pod-template-generation: {}
        f:ownerReferences:
          .: {}
          k:{"uid":"248aeaf2-d8ec-47ea-a1cf-4defdfe55674"}: {}
      f:spec:
        f:affinity:
          .: {}
          f:nodeAffinity:
            .: {}
            f:requiredDuringSchedulingIgnoredDuringExecution: {}
        f:containers:
          k:{"name":"machine-config-daemon"}:
            .: {}
            f:args: {}
            f:command: {}
            f:env:
              .: {}
              k:{"name":"NODE_NAME"}:
                .: {}
                f:name: {}
                f:valueFrom:
                  .: {}
                  f:fieldRef: {}
            f:image: {}
            f:imagePullPolicy: {}
            f:name: {}
            f:resources:
              .: {}
              f:requests:
                .: {}
                f:cpu: {}
                f:memory: {}
            f:securityContext:
              .: {}
              f:privileged: {}
            f:terminationMessagePath: {}
            f:terminationMessagePolicy: {}
            f:volumeMounts:
              .: {}
              k:{"mountPath":"/rootfs"}:
                .: {}
                f:mountPath: {}
                f:name: {}
          k:{"name":"oauth-proxy"}:
            .: {}
            f:args: {}
            f:image: {}
            f:imagePullPolicy: {}
            f:name: {}
            f:ports:
              .: {}
              k:{"containerPort":9001,"protocol":"TCP"}:
                .: {}
                f:containerPort: {}
                f:hostPort: {}
                f:name: {}
                f:protocol: {}
            f:resources:
              .: {}
              f:requests:
                .: {}
                f:cpu: {}
                f:memory: {}
            f:terminationMessagePath: {}
            f:terminationMessagePolicy: {}
            f:volumeMounts:
              .: {}
              k:{"mountPath":"/etc/tls/cookie-secret"}:
                .: {}
                f:mountPath: {}
                f:name: {}
              k:{"mountPath":"/etc/tls/private"}:
                .: {}
                f:mountPath: {}
                f:name: {}
        f:dnsPolicy: {}
        f:enableServiceLinks: {}
        f:hostNetwork: {}
        f:hostPID: {}
        f:nodeSelector: {}
        f:priorityClassName: {}
        f:restartPolicy: {}
        f:schedulerName: {}
        f:securityContext: {}
        f:serviceAccount: {}
        f:serviceAccountName: {}
        f:terminationGracePeriodSeconds: {}
        f:tolerations: {}
        f:volumes:
          .: {}
          k:{"name":"cookie-secret"}:
            .: {}
            f:name: {}
            f:secret:
              .: {}
              f:defaultMode: {}
              f:secretName: {}
          k:{"name":"proxy-tls"}:
            .: {}
            f:name: {}
            f:secret:
              .: {}
              f:defaultMode: {}
              f:secretName: {}
          k:{"name":"rootfs"}:
            .: {}
            f:hostPath:
              .: {}
              f:path: {}
              f:type: {}
            f:name: {}
    manager: kube-controller-manager
    operation: Update
    time: "2023-03-08T11:52:13Z"
  - apiVersion: v1
    fieldsType: FieldsV1
    fieldsV1:
      f:status:
        f:conditions:
          k:{"type":"ContainersReady"}:
            .: {}
            f:lastProbeTime: {}
            f:lastTransitionTime: {}
            f:status: {}
            f:type: {}
          k:{"type":"Initialized"}:
            .: {}
            f:lastProbeTime: {}
            f:lastTransitionTime: {}
            f:status: {}
            f:type: {}
          k:{"type":"Ready"}:
            .: {}
            f:lastProbeTime: {}
            f:lastTransitionTime: {}
            f:status: {}
            f:type: {}
        f:containerStatuses: {}
        f:hostIP: {}
        f:phase: {}
        f:podIP: {}
        f:podIPs:
          .: {}
          k:{"ip":"10.0.128.3"}:
            .: {}
            f:ip: {}
        f:startTime: {}
    manager: kubelet
    operation: Update
    subresource: status
    time: "2023-03-08T11:52:46Z"
  name: machine-config-daemon-zlmcc
  namespace: openshift-machine-config-operator
  ownerReferences:
  - apiVersion: apps/v1
    blockOwnerDeletion: true
    controller: true
    kind: DaemonSet
    name: machine-config-daemon
    uid: 248aeaf2-d8ec-47ea-a1cf-4defdfe55674
  resourceVersion: "20381"
  uid: a93d024f-c5d1-4cc0-ba4b-3f64b0ad679c
spec:
  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
        - matchFields:
          - key: metadata.name
            operator: In
            values:
            - vrutkovs-mrmwt-worker-b-5rcfz.c.openshift-gce-devel.internal
  containers:
  - args:
    - start
    command:
    - /usr/bin/machine-config-daemon
    env:
    - name: NODE_NAME
      valueFrom:
        fieldRef:
          apiVersion: v1
          fieldPath: spec.nodeName
    image: registry.ci.openshift.org/origin/4.12-2023-03-04-063026@sha256:a7cea4a88ef47288a649346deaa52a62f9d38c3df8a2c6e4e177b2fc039fef61
    imagePullPolicy: IfNotPresent
    name: machine-config-daemon
    resources:
      requests:
        cpu: 20m
        memory: 50Mi
    securityContext:
      privileged: true
    terminationMessagePath: /dev/termination-log
    terminationMessagePolicy: FallbackToLogsOnError
    volumeMounts:
    - mountPath: /rootfs
      name: rootfs
    - mountPath: /var/run/secrets/kubernetes.io/serviceaccount
      name: kube-api-access-lkhnj
      readOnly: true
  - args:
    - --https-address=:9001
    - --provider=openshift
    - --openshift-service-account=machine-config-daemon
    - --upstream=http://127.0.0.1:8797
    - --tls-cert=/etc/tls/private/tls.crt
    - --tls-key=/etc/tls/private/tls.key
    - --cookie-secret-file=/etc/tls/cookie-secret/cookie-secret
    - '--openshift-sar={"resource": "namespaces", "verb": "get"}'
    - '--openshift-delegate-urls={"/": {"resource": "namespaces", "verb": "get"}}'
    image: registry.ci.openshift.org/origin/4.12-2023-03-04-063026@sha256:b6536bfcfaf30a6425d589facd672bae3245f933b2a7399bda3f12e393bd671b
    imagePullPolicy: IfNotPresent
    name: oauth-proxy
    ports:
    - containerPort: 9001
      hostPort: 9001
      name: metrics
      protocol: TCP
    resources:
      requests:
        cpu: 20m
        memory: 50Mi
    terminationMessagePath: /dev/termination-log
    terminationMessagePolicy: File
    volumeMounts:
    - mountPath: /etc/tls/private
      name: proxy-tls
    - mountPath: /etc/tls/cookie-secret
      name: cookie-secret
    - mountPath: /var/run/secrets/kubernetes.io/serviceaccount
      name: kube-api-access-lkhnj
      readOnly: true
  dnsPolicy: ClusterFirst
  enableServiceLinks: true
  hostNetwork: true
  hostPID: true
  imagePullSecrets:
  - name: machine-config-daemon-dockercfg-h77b4
  nodeName: vrutkovs-mrmwt-worker-b-5rcfz.c.openshift-gce-devel.internal
  nodeSelector:
    kubernetes.io/os: linux
  preemptionPolicy: PreemptLowerPriority
  priority: 2000001000
  priorityClassName: system-node-critical
  restartPolicy: Always
  schedulerName: default-scheduler
  securityContext: {}
  serviceAccount: machine-config-daemon
  serviceAccountName: machine-config-daemon
  terminationGracePeriodSeconds: 600
  tolerations:
  - operator: Exists
  volumes:
  - hostPath:
      path: /
      type: ""
    name: rootfs
  - name: proxy-tls
    secret:
      defaultMode: 420
      secretName: proxy-tls
  - name: cookie-secret
    secret:
      defaultMode: 420
      secretName: cookie-secret
  - name: kube-api-access-lkhnj
    projected:
      defaultMode: 420
      sources:
      - serviceAccountToken:
          expirationSeconds: 3607
          path: token
      - configMap:
          items:
          - key: ca.crt
            path: ca.crt
          name: kube-root-ca.crt
      - downwardAPI:
          items:
          - fieldRef:
              apiVersion: v1
              fieldPath: metadata.namespace
            path: namespace
      - configMap:
          items:
          - key: service-ca.crt
            path: service-ca.crt
          name: openshift-service-ca.crt
status:
  conditions:
  - lastProbeTime: null
    lastTransitionTime: "2023-03-08T11:52:14Z"
    status: "True"
    type: Initialized
  - lastProbeTime: null
    lastTransitionTime: "2023-03-08T11:52:46Z"
    status: "True"
    type: Ready
  - lastProbeTime: null
    lastTransitionTime: "2023-03-08T11:52:46Z"
    status: "True"
    type: ContainersReady
  - lastProbeTime: null
    lastTransitionTime: "2023-03-08T11:52:13Z"
    status: "True"
    type: PodScheduled
  containerStatuses:
  - containerID: cri-o://9688cc7363c11e3f2d444693de91b417d1e4c2d9548d7f79443de4082b780190
    image: registry.ci.openshift.org/origin/4.12-2023-03-04-063026@sha256:a7cea4a88ef47288a649346deaa52a62f9d38c3df8a2c6e4e177b2fc039fef61
    imageID: registry.ci.openshift.org/origin/4.12-2023-03-04-063026@sha256:a7cea4a88ef47288a649346deaa52a62f9d38c3df8a2c6e4e177b2fc039fef61
    lastState: {}
    name: machine-config-daemon
    ready: true
    restartCount: 0
    started: true
    state:
      running:
        startedAt: "2023-03-08T11:52:16Z"
  - containerID: cri-o://6ff777bc780c133585f2955b48aa91b54c1b16cb242e9ec121e221012a27c78f
    image: registry.ci.openshift.org/origin/4.12-2023-03-04-063026@sha256:b6536bfcfaf30a6425d589facd672bae3245f933b2a7399bda3f12e393bd671b
    imageID: registry.ci.openshift.org/origin/4.12-2023-03-04-063026@sha256:b6536bfcfaf30a6425d589facd672bae3245f933b2a7399bda3f12e393bd671b
    lastState: {}
    name: oauth-proxy
    ready: true
    restartCount: 0
    started: true
    state:
      running:
        startedAt: "2023-03-08T11:52:45Z"
  hostIP: 10.0.128.3
  phase: Running
  podIP: 10.0.128.3
  podIPs:
  - ip: 10.0.128.3
  qosClass: Burstable
  startTime: "2023-03-08T11:52:14Z"
