apiVersion: v1
kind: Pod
metadata:
  annotations:
    k8s.ovn.org/pod-networks: '{"default":{"ip_addresses":["10.130.0.21/23"],"mac_address":"0a:58:0a:82:00:15","gateway_ips":["10.130.0.1"],"ip_address":"10.130.0.21/23","gateway_ip":"10.130.0.1"}}'
    k8s.v1.cni.cncf.io/network-status: |-
      [{
          "name": "ovn-kubernetes",
          "interface": "eth0",
          "ips": [
              "10.130.0.21"
          ],
          "mac": "0a:58:0a:82:00:15",
          "default": true,
          "dns": {}
      }]
    k8s.v1.cni.cncf.io/networks-status: |-
      [{
          "name": "ovn-kubernetes",
          "interface": "eth0",
          "ips": [
              "10.130.0.21"
          ],
          "mac": "0a:58:0a:82:00:15",
          "default": true,
          "dns": {}
      }]
    openshift.io/scc: hostmount-anyuid
  creationTimestamp: "2023-03-08T11:41:19Z"
  generateName: machine-config-operator-77df855d8b-
  labels:
    k8s-app: machine-config-operator
    pod-template-hash: 77df855d8b
  managedFields:
  - apiVersion: v1
    fieldsType: FieldsV1
    fieldsV1:
      f:metadata:
        f:annotations:
          .: {}
          f:target.workload.openshift.io/management: {}
        f:generateName: {}
        f:labels:
          .: {}
          f:k8s-app: {}
          f:pod-template-hash: {}
        f:ownerReferences:
          .: {}
          k:{"uid":"ee3008c1-352c-498c-ad30-95f6ee098604"}: {}
      f:spec:
        f:containers:
          k:{"name":"machine-config-operator"}:
            .: {}
            f:args: {}
            f:env:
              .: {}
              k:{"name":"RELEASE_VERSION"}:
                .: {}
                f:name: {}
                f:value: {}
            f:image: {}
            f:imagePullPolicy: {}
            f:name: {}
            f:resources:
              .: {}
              f:requests:
                .: {}
                f:cpu: {}
                f:memory: {}
            f:terminationMessagePath: {}
            f:terminationMessagePolicy: {}
            f:volumeMounts:
              .: {}
              k:{"mountPath":"/etc/mco/images"}:
                .: {}
                f:mountPath: {}
                f:name: {}
              k:{"mountPath":"/etc/ssl/kubernetes/ca.crt"}:
                .: {}
                f:mountPath: {}
                f:name: {}
        f:dnsPolicy: {}
        f:enableServiceLinks: {}
        f:nodeSelector: {}
        f:priorityClassName: {}
        f:restartPolicy: {}
        f:schedulerName: {}
        f:securityContext:
          .: {}
          f:runAsNonRoot: {}
          f:runAsUser: {}
        f:terminationGracePeriodSeconds: {}
        f:tolerations: {}
        f:volumes:
          .: {}
          k:{"name":"images"}:
            .: {}
            f:configMap:
              .: {}
              f:defaultMode: {}
              f:name: {}
            f:name: {}
          k:{"name":"root-ca"}:
            .: {}
            f:hostPath:
              .: {}
              f:path: {}
              f:type: {}
            f:name: {}
    manager: kube-controller-manager
    operation: Update
    time: "2023-03-08T11:41:19Z"
  - apiVersion: v1
    fieldsType: FieldsV1
    fieldsV1:
      f:status:
        f:conditions:
          .: {}
          k:{"type":"PodScheduled"}:
            .: {}
            f:lastProbeTime: {}
            f:lastTransitionTime: {}
            f:message: {}
            f:reason: {}
            f:status: {}
            f:type: {}
    manager: kube-scheduler
    operation: Update
    subresource: status
    time: "2023-03-08T11:42:25Z"
  - apiVersion: v1
    fieldsType: FieldsV1
    fieldsV1:
      f:metadata:
        f:annotations:
          f:k8s.ovn.org/pod-networks: {}
    manager: vrutkovs-mrmwt-master-0.c.openshift-gce-devel.internal
    operation: Update
    time: "2023-03-08T11:44:54Z"
  - apiVersion: v1
    fieldsType: FieldsV1
    fieldsV1:
      f:metadata:
        f:annotations:
          f:k8s.v1.cni.cncf.io/network-status: {}
          f:k8s.v1.cni.cncf.io/networks-status: {}
    manager: multus
    operation: Update
    subresource: status
    time: "2023-03-08T11:44:56Z"
  - apiVersion: v1
    fieldsType: FieldsV1
    fieldsV1:
      f:status:
        f:conditions:
          k:{"type":"ContainersReady"}:
            .: {}
            f:lastProbeTime: {}
            f:lastTransitionTime: {}
            f:status: {}
            f:type: {}
          k:{"type":"Initialized"}:
            .: {}
            f:lastProbeTime: {}
            f:lastTransitionTime: {}
            f:status: {}
            f:type: {}
          k:{"type":"Ready"}:
            .: {}
            f:lastProbeTime: {}
            f:lastTransitionTime: {}
            f:status: {}
            f:type: {}
        f:containerStatuses: {}
        f:hostIP: {}
        f:phase: {}
        f:podIP: {}
        f:podIPs:
          .: {}
          k:{"ip":"10.130.0.21"}:
            .: {}
            f:ip: {}
        f:startTime: {}
    manager: kubelet
    operation: Update
    subresource: status
    time: "2023-03-08T11:55:19Z"
  name: machine-config-operator-77df855d8b-2w88t
  namespace: openshift-machine-config-operator
  ownerReferences:
  - apiVersion: apps/v1
    blockOwnerDeletion: true
    controller: true
    kind: ReplicaSet
    name: machine-config-operator-77df855d8b
    uid: ee3008c1-352c-498c-ad30-95f6ee098604
  resourceVersion: "22557"
  uid: 2e410227-244e-4b9a-8443-3e6d1aeee90f
spec:
  containers:
  - args:
    - start
    - --images-json=/etc/mco/images/images.json
    env:
    - name: RELEASE_VERSION
      value: 4.12.0-0.okd-2023-03-04-063026
    image: registry.ci.openshift.org/origin/4.12-2023-03-04-063026@sha256:a7cea4a88ef47288a649346deaa52a62f9d38c3df8a2c6e4e177b2fc039fef61
    imagePullPolicy: IfNotPresent
    name: machine-config-operator
    resources:
      requests:
        cpu: 20m
        memory: 50Mi
    securityContext:
      capabilities:
        drop:
        - MKNOD
    terminationMessagePath: /dev/termination-log
    terminationMessagePolicy: FallbackToLogsOnError
    volumeMounts:
    - mountPath: /etc/ssl/kubernetes/ca.crt
      name: root-ca
    - mountPath: /etc/mco/images
      name: images
    - mountPath: /var/run/secrets/kubernetes.io/serviceaccount
      name: kube-api-access-vpn6l
      readOnly: true
  dnsPolicy: ClusterFirst
  enableServiceLinks: true
  nodeName: vrutkovs-mrmwt-master-2.c.openshift-gce-devel.internal
  nodeSelector:
    node-role.kubernetes.io/master: ""
  preemptionPolicy: PreemptLowerPriority
  priority: 2000000000
  priorityClassName: system-cluster-critical
  restartPolicy: Always
  schedulerName: default-scheduler
  securityContext:
    runAsNonRoot: true
    runAsUser: 65534
    seLinuxOptions:
      level: s0:c18,c12
  serviceAccount: default
  serviceAccountName: default
  terminationGracePeriodSeconds: 30
  tolerations:
  - effect: NoSchedule
    key: node-role.kubernetes.io/master
    operator: Exists
  - effect: NoExecute
    key: node.kubernetes.io/unreachable
    operator: Exists
    tolerationSeconds: 120
  - effect: NoExecute
    key: node.kubernetes.io/not-ready
    operator: Exists
    tolerationSeconds: 120
  - effect: NoSchedule
    key: node.kubernetes.io/memory-pressure
    operator: Exists
  volumes:
  - configMap:
      defaultMode: 420
      name: machine-config-operator-images
    name: images
  - hostPath:
      path: /etc/kubernetes/ca.crt
      type: ""
    name: root-ca
  - name: kube-api-access-vpn6l
    projected:
      defaultMode: 420
      sources:
      - serviceAccountToken:
          expirationSeconds: 3607
          path: token
      - configMap:
          items:
          - key: ca.crt
            path: ca.crt
          name: kube-root-ca.crt
      - downwardAPI:
          items:
          - fieldRef:
              apiVersion: v1
              fieldPath: metadata.namespace
            path: namespace
      - configMap:
          items:
          - key: service-ca.crt
            path: service-ca.crt
          name: openshift-service-ca.crt
status:
  conditions:
  - lastProbeTime: null
    lastTransitionTime: "2023-03-08T11:44:54Z"
    status: "True"
    type: Initialized
  - lastProbeTime: null
    lastTransitionTime: "2023-03-08T11:55:05Z"
    status: "True"
    type: Ready
  - lastProbeTime: null
    lastTransitionTime: "2023-03-08T11:55:05Z"
    status: "True"
    type: ContainersReady
  - lastProbeTime: null
    lastTransitionTime: "2023-03-08T11:44:53Z"
    status: "True"
    type: PodScheduled
  containerStatuses:
  - containerID: cri-o://3668111be83611feb43dbc7b04e62fae116bdf02b0d32ce35a7aece9a661f5a0
    image: registry.ci.openshift.org/origin/4.12-2023-03-04-063026@sha256:a7cea4a88ef47288a649346deaa52a62f9d38c3df8a2c6e4e177b2fc039fef61
    imageID: registry.ci.openshift.org/origin/4.12-2023-03-04-063026@sha256:a7cea4a88ef47288a649346deaa52a62f9d38c3df8a2c6e4e177b2fc039fef61
    lastState:
      terminated:
        containerID: cri-o://c2c396ce7af331a1348d84622f7e0925cebb8e41f0fb8d5773e18bde09974d47
        exitCode: 0
        finishedAt: "2023-03-08T11:55:03Z"
        reason: Completed
        startedAt: "2023-03-08T11:44:57Z"
    name: machine-config-operator
    ready: true
    restartCount: 1
    started: true
    state:
      running:
        startedAt: "2023-03-08T11:55:04Z"
  hostIP: 10.0.0.3
  phase: Running
  podIP: 10.130.0.21
  podIPs:
  - ip: 10.130.0.21
  qosClass: Burstable
  startTime: "2023-03-08T11:44:54Z"
