apiVersion: config.openshift.io/v1
kind: ClusterOperator
metadata:
  annotations:
    include.release.openshift.io/ibm-cloud-managed: "true"
    include.release.openshift.io/self-managed-high-availability: "true"
    include.release.openshift.io/single-node-developer: "true"
  creationTimestamp: "2023-03-08T11:40:40Z"
  generation: 1
  managedFields:
  - apiVersion: config.openshift.io/v1
    fieldsType: FieldsV1
    fieldsV1:
      f:metadata:
        f:annotations:
          .: {}
          f:include.release.openshift.io/ibm-cloud-managed: {}
          f:include.release.openshift.io/self-managed-high-availability: {}
          f:include.release.openshift.io/single-node-developer: {}
        f:ownerReferences:
          .: {}
          k:{"uid":"e60de632-2954-4109-a630-deda141a29af"}: {}
      f:spec: {}
    manager: cluster-version-operator
    operation: Update
    time: "2023-03-08T11:40:40Z"
  - apiVersion: config.openshift.io/v1
    fieldsType: FieldsV1
    fieldsV1:
      f:status:
        .: {}
        f:extension: {}
    manager: cluster-version-operator
    operation: Update
    subresource: status
    time: "2023-03-08T11:40:41Z"
  - apiVersion: config.openshift.io/v1
    fieldsType: FieldsV1
    fieldsV1:
      f:status:
        f:conditions: {}
        f:relatedObjects: {}
    manager: ingress-operator
    operation: Update
    subresource: status
    time: "2023-03-08T11:51:38Z"
  name: ingress
  ownerReferences:
  - apiVersion: config.openshift.io/v1
    kind: ClusterVersion
    name: version
    uid: e60de632-2954-4109-a630-deda141a29af
  resourceVersion: "17430"
  uid: 8fb9029b-29a2-4cc2-80f7-92ffd048ae08
spec: {}
status:
  conditions:
  - lastTransitionTime: "2023-03-08T11:51:38Z"
    message: 'The "default" ingress controller reports Available=False: IngressControllerUnavailable:
      One or more status conditions indicate unavailable: DeploymentAvailable=False
      (DeploymentUnavailable: The deployment has Available status condition set to
      False (reason: MinimumReplicasUnavailable) with message: Deployment does not
      have minimum availability.)'
    reason: IngressUnavailable
    status: "False"
    type: Available
  - lastTransitionTime: "2023-03-08T11:46:42Z"
    message: |-
      ingresscontroller "default" is progressing: IngressControllerProgressing: One or more status conditions indicate progressing: DeploymentRollingOut=True (DeploymentRollingOut: Waiting for router deployment rollout to finish: 0 of 2 updated replica(s) are available...
      ).
      Not all ingress controllers are available.
    reason: Reconciling
    status: "True"
    type: Progressing
  - lastTransitionTime: "2023-03-08T11:51:37Z"
    message: 'The "default" ingress controller reports Degraded=True: DegradedConditions:
      One or more other status conditions indicate a degraded state: DeploymentAvailable=False
      (DeploymentUnavailable: The deployment has Available status condition set to
      False (reason: MinimumReplicasUnavailable) with message: Deployment does not
      have minimum availability.), DeploymentReplicasMinAvailable=False (DeploymentMinimumReplicasNotMet:
      0/2 of replicas are available, max unavailable is 1)'
    reason: IngressDegraded
    status: "True"
    type: Degraded
  - lastTransitionTime: "2023-03-08T11:46:42Z"
    reason: IngressControllersUpgradeable
    status: "True"
    type: Upgradeable
  - lastTransitionTime: "2023-03-08T11:46:42Z"
    reason: AsExpected
    status: "False"
    type: EvaluationConditionsDetected
  extension: null
  relatedObjects:
  - group: ""
    name: openshift-ingress-operator
    resource: namespaces
  - group: operator.openshift.io
    name: ""
    namespace: openshift-ingress-operator
    resource: ingresscontrollers
  - group: ingress.operator.openshift.io
    name: ""
    namespace: openshift-ingress-operator
    resource: dnsrecords
  - group: ""
    name: openshift-ingress
    resource: namespaces
  - group: ""
    name: openshift-ingress-canary
    resource: namespaces
