apiVersion: config.openshift.io/v1
kind: ClusterOperator
metadata:
  annotations:
    exclude.release.openshift.io/internal-openshift-hosted: "true"
    include.release.openshift.io/self-managed-high-availability: "true"
    include.release.openshift.io/single-node-developer: "true"
  creationTimestamp: "2023-03-08T11:40:40Z"
  generation: 1
  managedFields:
  - apiVersion: config.openshift.io/v1
    fieldsType: FieldsV1
    fieldsV1:
      f:metadata:
        f:annotations:
          .: {}
          f:exclude.release.openshift.io/internal-openshift-hosted: {}
          f:include.release.openshift.io/self-managed-high-availability: {}
          f:include.release.openshift.io/single-node-developer: {}
        f:ownerReferences:
          .: {}
          k:{"uid":"e60de632-2954-4109-a630-deda141a29af"}: {}
      f:spec: {}
    manager: cluster-version-operator
    operation: Update
    time: "2023-03-08T11:40:40Z"
  - apiVersion: config.openshift.io/v1
    fieldsType: FieldsV1
    fieldsV1:
      f:status: {}
    manager: cluster-version-operator
    operation: Update
    subresource: status
    time: "2023-03-08T11:40:40Z"
  - apiVersion: config.openshift.io/v1
    fieldsType: FieldsV1
    fieldsV1:
      f:status:
        f:conditions: {}
        f:extension:
          .: {}
          f:master: {}
          f:worker: {}
        f:relatedObjects: {}
        f:versions: {}
    manager: machine-config-operator
    operation: Update
    subresource: status
    time: "2023-03-08T11:47:05Z"
  name: machine-config
  ownerReferences:
  - apiVersion: config.openshift.io/v1
    kind: ClusterVersion
    name: version
    uid: e60de632-2954-4109-a630-deda141a29af
  resourceVersion: "10357"
  uid: 157e8dfa-4a1d-4b32-aa9b-71f9e9e70ea2
spec: {}
status:
  conditions:
  - lastTransitionTime: "2023-03-08T11:44:57Z"
    message: Working towards 4.12.0-0.okd-2023-03-04-063026
    status: "True"
    type: Progressing
  - lastTransitionTime: "2023-03-08T11:45:21Z"
    status: "False"
    type: Degraded
  - lastTransitionTime: "2023-03-08T11:47:04Z"
    message: Cluster has deployed []
    reason: AsExpected
    status: "True"
    type: Available
  - lastTransitionTime: "2023-03-08T11:47:05Z"
    message: 'An error occurred when checking kubelet version skew: kube-apiserver
      does not yet have a version'
    reason: KubeletSkewUnchecked
    status: "True"
    type: Upgradeable
  extension:
    master: all 3 nodes are at latest configuration rendered-master-71fec459b968d060c60cad7d0f3a5602
    worker: all 0 nodes are at latest configuration rendered-worker-cbb7fad69073628742d20bb0a24d29bc
  relatedObjects:
  - group: ""
    name: openshift-machine-config-operator
    resource: namespaces
  - group: machineconfiguration.openshift.io
    name: ""
    resource: machineconfigpools
  - group: machineconfiguration.openshift.io
    name: ""
    resource: controllerconfigs
  - group: machineconfiguration.openshift.io
    name: ""
    resource: kubeletconfigs
  - group: machineconfiguration.openshift.io
    name: ""
    resource: containerruntimeconfigs
  - group: machineconfiguration.openshift.io
    name: ""
    resource: machineconfigs
  - group: ""
    name: ""
    resource: nodes
  - group: ""
    name: openshift-kni-infra
    resource: namespaces
  - group: ""
    name: openshift-openstack-infra
    resource: namespaces
  - group: ""
    name: openshift-ovirt-infra
    resource: namespaces
  - group: ""
    name: openshift-vsphere-infra
    resource: namespaces
  - group: ""
    name: openshift-nutanix-infra
    resource: namespaces
  versions:
  - name: operator
    version: 4.12.0-0.okd-2023-03-04-063026
